<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060875580781-ua5ink4j5buqlquqcjusfpnejuan3nj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060875580781-ua5ink4j5buqlquqcjusfpnejuan3nj4</string>
	<key>API_KEY</key>
	<string>AIzaSyAgn92OYG7HdPETx2rLsSsnidPzTZgh5K0</string>
	<key>GCM_SENDER_ID</key>
	<string>1060875580781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schoolAul</string>
	<key>PROJECT_ID</key>
	<string>kbo-ratkum-e658c</string>
	<key>STORAGE_BUCKET</key>
	<string>kbo-ratkum-e658c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060875580781:ios:3905744e89a36475309664</string>
</dict>
</plist>